# Ignoriere alle Dateien standardmäßig
*

# Erlaube spezifische Verzeichnisse und deren Inhalte
!/config/
!/config/**
!/themes/
!/themes/**
!/snippets/
!/snippets/**
!/org/
!/org/**
!/utils/
!/utils/**
!config.org

# Ignoriere alle Backup-Dateien und temporären Dateien
*~
*.bak
*.swp
.DS_Store
